.loginForm {
    width: 50%;
    height: 75%;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    padding-top: 2%;
}

.registrationForm {
    width: 50%;
    height: 90%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    padding-top: 2%;
}



body, html{
    background-image: url("https://images.unsplash.com/photo-1489712310660-bbce44cc541d?ixlib=rb-1.2.1&auto=format&fit=crop&w=756&q=80") ;
    height: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

.setProfile {
    width: 50%;
    height: 95%;
    text-align: center;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.setProfile2 {
    width: 50%;
    height: 150%;
    text-align: center;
    position: relative;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid gray;
    background-color: white;
}

.setProfile3{
    width: 45%;
    height: 90%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.setProfile4 {
    width: 50%;
    height: 45%;
    text-align: center;
    position: relative;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.setProfilePic {
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}
.updateProfilePic {
    width: 45%;
    height: 85%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.profile {
    width: 45%;
    height: 80%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 45%;
    transform: translate(15%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.profilePic {
    width: 35%;
    height: auto;
    position: fixed;
    top: 6%;
    left: 35%;
    transform: translate(0%, 5%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    margin-bottom: 2%;
}

.images {
    width: 95%;
    height: 50%;
    position: fixed;
    top: 10%;
    left: -12%;
    transform: translate(15%, 60%);
}

.profile1 {
    width: 45%;
    height: 80%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 55%;
    transform: translate(-115%, -150%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.updateProfile {
    width: 100%;
    height: 60%;
    text-align: center;
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.updateProfile2 {
    width: 100%;
    height: 110%;
    text-align: center;
    position: relative;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid gray;
    background-color: white;
}

.updateProfile3{
    width: 45%;
    height: 140%;
    text-align: center;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 3%; */
    /* background-color: white; */
    /* border: 1px solid gray; */
}

.updateProfile4 {
    width: 100%;
    height: 35%;
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.individualForms{
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.resetPassword {
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2%;
}

.profileButton {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 280%);
    width: 100%;
}   

.submitButton{
    width: 100%;
    margin-right: 20%;

}

.interests{
    border-radius: 3%;
    border: 1px solid gray;
    top: -64%;
    left: 130%;
    transform: translate(-50%, -50%);
}


.displayTags {
    width: 100%;
    height: 50%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    display: table;
}

.tagBlocks {
    width: 31%;
    background-color: #b9b9b9;
    margin-top: 2%;
    float: inherit;
    border: 1px solid white;
    border-radius: 2%;
    word-wrap: break-word; 
}


.topnav {
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(128, 19, 0);
    width: 80%;
    top: -64%;
    left: 140%;
    transform: translate(25%, -130%);
    height: 8%;
}

.image_display {
    border-radius: 3%;
    border: 1px solid gray;
    width: 25%;
    height: auto;
    margin-top: 3%;
}

.completeProfile {
    position: fixed;
    top: 93%;
    left: 50%;
    transform: translate(-50%, 280%);
    width: 100%;
    margin-bottom: 15%;
}

.forgotPassword {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 280%);
    width: 30%;
}

.userInfo1 {
    position: unset;
    top: 0%;
    left: 50%;
    transform: translate(21%, 95%);
    width: 30%;
    border: 1px solid grey;
    border-radius: inherit;
    width: 70%;
}

.userInfoTags {
    width: 100%;
    height: 25%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    display: table;
}

.bio {
    position: fixed;
    top: 10%;
    left: 0%;
    transform: translate(21%, 90%);
    width: 30%;
    height: 20%;
    border: 1px solid grey;
    border-radius: inherit;
    width: 70%;
}

.userInfoImgdisplay {
    border-radius: 3%;
    border: 1px solid gray;
    width: 30%;
    height: auto;
    margin-top: 3%;
}

.userImgdisplay {
    transform: translate(21%, 155%);
    width: 30%;
    height: 20%;
    width: 70%;
}
