
.loginForm {
    width: 50%;
    height: 75%;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    padding-top: 2%;
}

.registrationForm {
    width: 50%;
    height: 90%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    padding-top: 2%;
}



body, html{
    background-image: url("https://images.unsplash.com/photo-1489712310660-bbce44cc541d?ixlib=rb-1.2.1&auto=format&fit=crop&w=756&q=80") ;
    height: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

.setProfile {
    width: 50%;
    height: 95%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.setProfile2 {
    width: 50%;
    height: 135%;
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid gray;
    background-color: white;
}

.setProfile3{
    width: 45%;
    height: 90%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.setProfile4 {
    width: 50%;
    height: 40%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.setProfilePic {
    width: 50%;
    height: 85%;
    text-align: center;
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.profile {
    width: 45%;
    height: 80%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 45%;
    transform: translate(15%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.profilePic {
    width: 35%;
    height: 25%;
    position: fixed;
    top: 6%;
    left: 35%;
    transform: translate(0%, 5%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    margin-bottom: 2%;
}

.images {
    width: 95%;
    height: 50%;
    position: fixed;
    top: 10%;
    left: -12%;
    transform: translate(15%, 60%);
}

.profile1 {
    width: 45%;
    height: 80%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 55%;
    transform: translate(-115%, -150%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}

.updateProfile {
    width: 100%;
    height: 95%;
    text-align: center;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.updateProfile2 {
    width: 100%;
    height: 135%;
    text-align: center;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid gray;
    background-color: white;
}

.updateProfile3{
    width: 45%;
    height: 90%;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    background-color: white;
    border: 1px solid gray;
}

.updateProfile4 {
    width: 100%;
    height: 40%;
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    border: 1px solid rgb(131, 130, 130);
    background-color: white;
}


.profileButton {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 280%);
    width: 100%;
}   

.submitButton{
    width: 100%;
    margin-right: 20%;

}

.interests{
    border-radius: 3%;
    border: 1px solid gray;
    top: -64%;
    left: 130%;
    transform: translate(-50%, -50%);
}

.topnav {
    
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(128, 19, 0);
    width: 80%;
    top: -64%;
    left: 140%;
    transform: translate(25%, -130%);
    height: 8%;
}

.image_display {
    border-radius: 3%;
    border: 1px solid gray;
    width: 25%;
    height: 35%;
    margin-top: 3%;
}

.bg_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.bg_modal2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}


.modal-content
{
    width:500px; 
    height: 200px;
    background-color: white;
    text-align: center;
}
.big_img{
    margin: 10px 50px;

}
.pic_1 img{
    width: 230px;
    padding: 5px;
    float: left;
    filter: grayscale(100%);
    transition: 0.1s;
}
.pic_1 img:hover{
    filter: grayscale(0%);
}